<ngx-loading [show]="loading"></ngx-loading>
<!--Advanced filter Starts-->
<section id="advanced">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Advanced filter</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <input #search class="search mb-2" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
            <ngx-datatable class="bootstrap" [rows]="customers" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [reorderable]="reorderable">
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Advanced filter Ends-->

<!-- Datatable row templating -->
<ng-template #nameTpl let-row="row" let-value="value">
  <a [routerLink]="['/dashboard']" [queryParams]="{cust:row._id}">{{value}}</a>
</ng-template>
